:root{
  --bgColor: #19456B;
  --fontColor: #F8F1F1;
  --searchBtnColor: #11698E;
  --searchBtnColorHover: #0d5270; 
  --cardBgColor: #16C79A;
  --cardBgColorHover: #12a883;
}

body{
  display: flex; 
  justify-content: space-between;
  background-color: var(--bgColor);
}

.btn-block{
    width: 100%;
    margin: 10px 0;
}

/* jquery-ui modifier */
.ui-selectmenu-button.ui-button {
  width: 100%;
}

.hide {
  display: none;
}

.search-only {
  width: 80%;
  margin: 20% 10%;
  align-items: center;
}

.show {
  display: block;
}

#search-card {
  background-color: var(--fontColor);
}

#search-body {
  width: 95%;
  text-align: center;
}

#search-btn {
  background-color: var(--searchBtnColor);
  border: var(--searchBtnColor);
}

#back-btn{
  background-color: var(--cardBgColor);
  border: var(--cardBgColor);
  color: var(--fontColor);
}

#back-btn:hover{
  background-color: var(--cardBgColorHover);
}

#search-btn:hover{
  background-color: var(--searchBtnColorHover);
}

#search-results {
  width: 85%;
}

#search-results{
  color: var(--fontColor);
}

#search-results h3{
  margin: 20px 0 0 20px;
}

#search-results .card-body{
  margin: 20px;
  background-color: var(--cardBgColor);
  border-radius: 10px;
  color: var(--fontColor);
}
